@import "tailwindcss";
@plugin "daisyui";

.content-div {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 250px;
}

.content-div:hover {
  background-image: linear-gradient(
    144deg,
    rgba(48, 39, 201, 0.9402135854341737) 0%,
    rgba(93, 41, 163, 1) 26%,
    rgba(51, 41, 138, 1) 61%
  ) !important;
}
